@font-face {
    font-family: 'FOT-KurokaneStd-EB';
    src: url('fonts/FOT-KurokaneStd-EB.otf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "FOT-KurokaneStd-EB";
    place-items: center;
    background-image: url(Imagenes/azul_espirales.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
text-decoration: underline;
}
div {
    place-items: center;
    background-image: url(Imagenes/yokai_pad.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: center center;
}
div.sin_fondo {
    background: none;
}
img {
    border-radius: 5%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.no_centro {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
}
audio{
    background: none;
}
.sombra{
    box-shadow: 20px 20px 10px cyan;
}
select , input{
     width: 50%;
     height: 50%;
}
.fondo_diferente {
      background-image: url(Imagenes/yokai_pad.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
}
.tamaño{
      height: 5%;
      width: 100%;
}
.Inicio_de_sesión{  
      position: sticky;
      top: 0;
      background-color: cyan;
      border: 2px solid #00c2b5;
}
iframe{
     width: 640; 
     height: 480;
     margin: auto;
     fixed-position: center center;
}
